<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MBProgressHUD封装后直接调用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D7D23191D40EF3D0002D78D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D7D23321D40EF3D0002D78D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D7D233D1D40EF3D0002D78D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
